<?xml version="1.0" encoding="UTF-8"?>
<!--
This software is in the public domain under CC0 1.0 Universal plus a 
Grant of Patent License.

To the extent possible under law, the author(s) have dedicated all
copyright and related and neighboring rights to this software to the
public domain worldwide. This software is distributed without any
warranty.

You should have received a copy of the CC0 Public Domain Dedication
along with this software (see the LICENSE.md file). If not, see
<http://creativecommons.org/publicdomain/zero/1.0/>.
-->
<screen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://moqui.org/xsd/xml-screen-3.xsd"
        include-child-content="true" menu-image="fa fa-flash" menu-image-type="icon">

    <transition name="code">
        <actions>
            <service-call name="ro.flexbiz.efactura.AuthServices.code#Grant" in-map="context"/>
        </actions>
        <default-response type="none"/>
    </transition>
    <transition name="callback">
        <actions>
            <service-call name="ro.flexbiz.efactura.AuthServices.handle#Callback" in-map="context"/>
        </actions>
        <default-response type="screen-last"/>
    </transition>

    <transition name="download" read-only="true">
        <actions>
            <service-call name="EFacturaServices.download#Response" in-map="context"/>
        </actions>
        <default-response type="none"/>
    </transition>

    <widgets>
        <label text="Introduceti semnatura digitala si dati click pe butonul urmator pentru a va conecta la eFactura"
               style="font-size: 24px; font-weight: bold; color: #00f; margin: 20px;"/>
        <link text="Conectare eFactura" url="code" link-type="anchor-button"/>
    </widgets>
</screen>
